
#topLine{
    display: flex;
    margin: auto;
    width: 80%;
    padding: 10px;
    
}

.cartMainBody{
    margin-top: 50px;
}

#cartItemsDiv{
    padding: 10px;
    padding-bottom: .5px;
    background-color: rgb(250, 250, 250);
}

.cartItemPic{
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    margin-right: 50px;
}

.media-body{
    margin: auto;
    padding: 5px;
    height: 50%;
}

#cartSummary{
    padding: 10px;
    background-color: rgb(232, 235, 233);
    max-height: 500px;
}

