body {
    overflow-x: hidden; 
}

/* positions the upload image card to the centre */
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; 
    }
 }



  .create-button{
      margin: 50px;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: none;
      margin: 1rem 0;
      cursor: pointer;
    transition: .5s;
    background-size: 200%;
    background: rgb(88, 133, 201);
    color: white;
  }

/* the input spacing and placement */
.input_field {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .input_field input{
    margin-block: 15px;
    width: 65%;
    padding-left: 10px;
    border: 1px solid silver;
    outline: none;
  }
  /* -------end------------- */

  #header-name{
    margin-top: 25px;
  }



  .input_field select{
    margin-block: 15px;
    width: 66%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid silver;
    outline: none;
  }