body {
  -ms-flex-align: center;
  align-items: center;
  background-color: #ebebeb;
}

#response{
  text-align: center;
  color: red;
}

/* positions the upload image card to the centre */
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 30px; /* Added */
  margin-top: 60px;
}

  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
 }

 .wrapper-centre{
  text-align: center;
 }

 .btn{
  width: 30%;
  height: 40px;
  margin-bottom: 30px;
 }

/* the input spacing and placement */
.input_field {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .input_field input{
    margin-block: 15px;
    width: 60%;
    padding-left: 10px;
    border: 1px solid silver;
    outline: none;
  }
  /* -------end------------- */

  .header-name{
    text-align: center;
  }


    .preview-thumbnail.nav-tabs {
      border: none;
      margin-top: 15px; }
      .preview-thumbnail.nav-tabs li {
        width: 18%;
        margin-right: 2.5%; }
        .preview-thumbnail.nav-tabs li img {
          max-width: 100%;
          display: block; }
        .preview-thumbnail.nav-tabs li a {
          padding: 0;
          margin: 0; }
        .preview-thumbnail.nav-tabs li:last-of-type {
          margin-right: 0; }

    .tab-content {
      overflow: hidden; }
      .tab-content img {
        width: 100%;
        -webkit-animation-name: opacity;
                animation-name: opacity;
        -webkit-animation-duration: .3s;
                animation-duration: .3s; }






    @media screen and (min-width: 997px) {
      .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }




    /* -------- */


    .logo-view {
      margin-top: 5%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .radio-inline{
      margin: 15px;
    }

    .checked_radio{
      margin: 5px;
    }

    .dob-div{
      margin: 10px;
      margin-bottom: 20px;
    }

    /* .Logo{
      color: rgb(167, 0, 0);
      font-size: 30px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
      margin-right: 500px;
  } */

    /* ----------------------------------------- */
