.form-signin .logo{
<<<<<<< HEAD
=======

>>>>>>> 9d903dbd4401e4fa0e7fbbe8e9f883ba19f4240a
  margin-top: 25px;
  margin-bottom: 25px;
}

.input_field {
  display:flex;
  justify-content: center;
  align-items: center;
}

.input_field input{
  margin-block: 15px;
  width: 65%;
  padding-left: 10px;
  border: 1px solid silver;
  outline: none;
}

.checkbox{
  margin-top: 10px;
}
.date_field{
  display: none;
}

.button{
  width: 50%;
  height: 40px;
  border-radius: 20px;
  border: none;
	margin: 1rem 0;
	cursor: pointer;
  transition: .5s;
  background-size: 200%;
  background: rgb(88, 133, 201);
  color: white;
}

.close{
  margin: 10px;
}

.radio-inline{
  margin: 15px;
}

.checked_radio{
  margin: 5px;
}
