body {
  background: white;
}

div nav a:hover {
  background-color: white;
}

#bg-img {
  background: url("../CSS/Images/playground.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 500px;
}
#About
{
 margin-top: -200px;
}
#About span {
  padding: 10px 20px 10px 20px;
}

#About hr {
  border-width: 5px;
}

#btn-editp:hover
{
  background-color: darkcyan;
}

.btnE
{
  display: none;
}


