*
#profile{
  position: fixed;
  border: 1px solid black;
  border-radius: 10px;
  top:50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  z-index: 99px;
  background-color: white;
  width: 800px;
  max-width: 80%;
  text-align: left;
height: auto;
}

.lab{

  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  font-size: .8rem;
  padding: 5px;
}

#profilePic{
  display: block;
  border-radius : 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;

}

.pItem{
  text-align: left;
  text-decoration: none;
  font-size: .9rem;
  margin-left: 25px;
  margin-bottom: 15px;
  margin-right: 20px;
  border-bottom: .5px dashed rgba(0, 0, 0, 0.5);
}

#contact{
  border-bottom: 0px;
}


/* positions the profile card to the centre */
.card{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
/* -------------end------------- */

/* the input spacing and placement */
.input_field {
  display:flex;
  justify-content: center;
  align-items: center;
}

.input_field input{
  margin-block: 15px;
  width: 65%;
  padding-left: 10px;
  border: 1px solid silver;
  outline: none;
}
/* -------end------------- */

/* eediting the title to start at a marin top */
#title-header{
  margin-top: 20px;
}

/* editin the btn margintop which is created in bootstrap */
.btn{
  margin-bottom:30px;
  margin-top: 10px;
}