
<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="vendor/autoload.php"
	colors="true"
	verbose="true"
	stopOnFailure="true"
	syntaxCheck="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">

<testsuits>
	<testsuit>
		<directory>./tests</directory>
	</testsuit>
</testsuits>